# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
env/
.env

# IDE
.idea/
.vscode/

# Logs and data
*.log
*.pkl

# Project specific
gpt_results/
data/
models/
main_kh.py
qwen_results/
llava_results/
openemma\YOLO3D\weights\resnet18.pkl
assests/