# Base ----------------------------------------
torch
torchvision
accelerate
#flash-attn
numpy<2.0.0
matplotlib
opencv-python
Pillow
PyYAML
requests
scipy
tqdm
gdown
flask
Werkzeug
argparse
transformers # for Mllama
ultralytics
qwen_vl_utils
pyquaternion
nuscenes-devkit
openai

# # Logging -------------------------------------
# tensorboard>=2.4.1
# comet-ml

# # Plotting ------------------------------------
pandas
seaborn

thop  # FLOPs computation
# huggingface_hub # for models
# azureml-fsspec # for extracting nuscenes in azure cloud

# # command to run
# python main.py --model-path qwen --dataroot data/nuscenes_mini --version v1.0-mini --method openemma

# # command to download qwenVL model 2.5 
# hf download Qwen/Qwen2.5-VL-3B-Instruct --local-dir models/Qwen2.5-VL-3B-Instruct 

# python -c "import torch; print(torch.cuda.is_available())" # to check for cuda-torch
# pip uninstall torch torchvision torchaudio -y # to uninstall existing torch (if installed for cpu)
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121 # to dowload torch-cuda