# Base ----------------------------------------
torch
torchvision
accelerate
#flash-attn
numpy<2.0.0
matplotlib
opencv-python
Pillow
PyYAML
requests
scipy
tqdm
gdown
flask
Werkzeug
argparse
transformers # for Mllama
ultralytics
qwen_vl_utils
pyquaternion
nuscenes-devkit
openai

# # Logging -------------------------------------
# tensorboard>=2.4.1
# comet-ml

# # Plotting ------------------------------------
pandas
seaborn

thop  # FLOPs computation
